@{
  Layout = "_Layout";
}

<h1>ADD VENDOR</h1>
<p>Add a stylist to the sales database here:</p>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name</label>
  <input id="stylistName" name="stylistName" type="text">
  <label for="stylistDescription">Stylist description</label>
  <input id="stylistDescription" name="stylistDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/stylists">Back to stylists.</a></p>