#custom {
  font-family: 'Courier New', Courier, monospace;
  color: red;
}

#custom a:link {
  color: red;
}
#custom a:visited {
  color: purple;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}